@import "/src/styles/bootstrap.scss";
@import "/src/styles/common.scss";
@import "/src/styles/playerGroup.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// .main-wrapper {
//   width: 100vh;
//   height: 100vh;
// }

// .player-group-container {
//   width: 100vh;
// }
// .blackjack-logo {
//   background-image: url("/src/assets/blackjack-logo.png");
//   background-repeat: no-repeat;
//   display: block;
//   margin: 0 auto;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: -1;
// }
