.player-group-container {
  @media screen and (max-width: 480px) {
    margin-top: 6rem;
  }
}

.card-container {
  max-width: 150px;
  max-height: 35px;
  resize: both;
}

.card {
  max-height: 200px;
  max-width: auto;
  background-color: #17141d;
  box-shadow: 0 -0.01rem 0.5rem 0.01rem #575757;

  @media screen and (max-width: 768px) {
    max-height: 150px;
  }

  @media screen and (max-width: 480px) {
    max-height: 100px;
  }
}

.card-container:not(:last-child):hover {
  transform: translateY(-25px);
  transition: 0.4s ease-out;
}

// .card:hover ~ .card {
//   position: relative;
//   left: 50px;
//   transition: 0.4s ease-out;
// }
